torch
-e git+https://github.com/huggingface/transformers.git#egg=transformers
accelerate
tqdm
sentencepiece
protobuf
xformers
-e git+https://github.com/vllm-project/vllm.git#egg=vllm
text-generation # for text-generation-inference backend

# benchmarks
-e git+https://github.com/EleutherAI/lm-evaluation-harness.git#egg=lm_eval
-e git+https://github.com/tju01/evals.git@8e321fbc004cc06c7ebe6b53aef119d7386b59c2#egg=evals
-e git+https://github.com/evalplus/evalplus.git#egg=evalplus

# models
einops # required for falcon
-e git+https://github.com/tju01/FastChat.git#egg=fschat # for fastchat models
