torch
transformers
accelerate
sentencepiece
protobuf==3.20.2
git+https://github.com/tju01/evals.git#egg=evals
sacrebleu
tqdm
tenacity
-e git+https://github.com/EleutherAI/lm-evaluation-harness.git#egg=lm_eval
