torch
-e git+https://github.com/huggingface/transformers.git#egg=transformers
accelerate
tqdm
sentencepiece
protobuf
xformers
-e git+https://github.com/vllm-project/vllm.git#egg=vllm
text-generation # for text-generation-inference backend

# benchmarks
-e git+https://github.com/EleutherAI/lm-evaluation-harness.git@dbf2c083defa56779b6c3f3e72d07cbf711a9b9c#egg=lm_eval
-e git+https://github.com/evalplus/evalplus.git#egg=evalplus

# models
einops # required for falcon
-e git+https://github.com/lm-sys/FastChat.git#egg=fschat # for fastchat models
openai
litellm
