body {
    font-family: sans-serif;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: fit-content;
}

thead > tr {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.relative-average-score  {
    border-bottom: 2px solid black;
}

table tr:not(.no-td-border) td + td {
    border-left: 2px solid black;
}

td:not(:empty) {
    padding-left: 5px;
    padding-right: 5px;
}

td.score {
    text-align: right;
}

table.main__table tr:nth-child(even) {
    background-color: #eee;
}

table:not(.main__table) tr:nth-child(odd) {
    background-color: #eee;
}

.max-score {
    font-weight: bold;
}

.final-report-information, .selected-model-information, .selected-model-report, .samples, .sample, .cot__information, .mt-bench__information {
    display: flex;
    flex-direction: column;
}

.selected-model-report, .samples, .sample {
    gap: 0.5em;
}

.sample {
    border: 1px solid black;
    padding: 0.5em;
}

.conversation-item {
    padding: 5px;
}

.conversation-item-system {
    background-color: #eee;
}

.conversation-item-user {
    background-color: #90ee90;
}

.conversation-item-assistant {
    background-color: #add8e6;
}

.conversation-item__role {
    text-decoration: underline;
}

.lm-evaluation-harness__other-results, .vicuna__explanation, .human-eval-plus__explanation, .cot-explanation, .main__disclaimer, .mt-bench-explanation, .main-click-on-columns-explanation {
    margin-bottom: 1em;
    max-width: 50em;
    display: block;
}

.back-to-main-page {
    display: block;
    margin-bottom: 1em;
}

.vicuna__filter, .cot__information, .main__table, .mt-bench__information {
    margin-bottom: 1em;
}

.vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nowrap {
    white-space: nowrap;
}

.switch-completion {
    display: flex;
    gap: 7px;
}

.separator-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}

.how-to-read-leaderboard__details {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.how-to-read-leaderboard__summary {
    font-weight: bold;
}

.how-to-read-leaderboard__color-green::before {
    color: transparent;
    background-color: rgb(128, 255, 128);
    content: "___";
    position: absolute;
}

.how-to-read-leaderboard__color-red::before {
    color: transparent;
    background-color: rgb(255, 128, 128);
    content: "___";
    position: absolute;
}

.how-to-read-leaderboard__space {
    margin-top: 0.5em;
}

.main-page-github-icon {
    max-height: 1em;
}

.grayed-out {
    opacity: 0.8;
}
