pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0;
}

textarea {
    width: 100%;
    padding: 0.2em;
    background-color: #eee;
    color: #006400;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: fit-content;
}

thead > tr {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.relative-average-score  {
    border-bottom: 2px solid black;
}

table td + td {
    border-left: 2px solid black;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

td.score {
    text-align: right;
}

tr:nth-child(odd) {
    background-color: #eee;
}

.max-score {
    font-weight: bold;
}

.final-report-information, .selected-model-information, .selected-model-report, .samples, .sample {
    display: flex;
    flex-direction: column;
}

.selected-model-report, .samples, .sample {
    gap: 0.5em;
}

.sample {
    border: 1px solid black;
    padding: 0.5em;
}

.conversation-item {
    padding: 5px;
}

.conversation-item-system {
    background-color: #eee;
}

.conversation-item-user {
    background-color: #90ee90;
}

.conversation-item-assistant {
    background-color: #add8e6;
}

.conversation-item__role {
    text-decoration: underline;
}

.lm-evaluation-harness__other-results, .vicuna__explanation, .human-eval-plus__explanation, .openai-evals__explanation {
    margin-bottom: 1em;
    max-width: 50em;
}

.back-to-main-page {
    display: block;
    margin-bottom: 1em;
}

.vicuna__filter {
    margin-bottom: 1em;
}
