pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0;
}

input {
    width: 100%;
    padding: 0.2em;
    background-color: #eee;
    color: #006400;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

.underlined-explanation-text {
    text-decoration: underline;
}

.report, .final-report-information, .samples, .sample {
    display: flex;
    flex-direction: column;
}

.report, .samples, .sample {
    gap: 0.5em;
}

.sample {
    border: 1px solid black;
    padding: 0.5em;
}

.conversation-item {
    padding: 5px;
}

.conversation-item-system {
    background-color: #eee;
}

.conversation-item-user {
    background-color: #90ee90;
}

.conversation-item-assistant {
    background-color: #add8e6;
}

.conversation-item__role {
    text-decoration: underline;
}
